<%- include('../partials/head', { title: 'Secrets' }) %>
<main class="container">
  <h1>Secrets Dump</h1>
  <pre><%- JSON.stringify(data, null, 2) %></pre>
</main>
<%- include('../partials/footer') %>
